:root {
    --border_radius_image: 10px;
    --margin_description: 3vw;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('police/static/KumbhSans-Regular.ttf') format('truetype');
}

html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    height: 95%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.brand {
    width: 15%;
    height: 100%;
    margin-right: 7%;
    display: flex;
    align-items: center;
}

.menu_tab {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
}

.tab {
    width: 15%;
    height: 100%;
    color: #69707D;
    font-family: Kumbh Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: center;
}

.shopping_icon {
    width: 5%;
    height: 100%;
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.account {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url('images/image-avatar.png'), lightgray 50% / cover no-repeat;
}

.account img {
    border-radius: 50px;
}

.product {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.main_photo {
    width: 100%;
    min-width: 300px;
}

.main_photo img {
    width: 100%;
    border-radius: var(--border_radius_image);
}

.secondary_photos {
    width: 100%;
    min-width: 300px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    overflow-x: auto
}

.secondary_photos img {
    margin-right: 50px;
    max-width: 100px;
    border-radius: var(--border_radius_image);
}

.description {
    width: 40%;
    height: 100%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    color: #FF7E1B;
    font-family: 'Kumbh Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: calc(var(--margin_description) + 2vw);
}

.product_name {
    color: #1D2026;
    font-family: 'Kumbh Sans';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: var(--margin_description);
}

.product_description {
    color: #69707D;
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: var(--margin_description);
}

.price_information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 173px;
    height: 68px;
    margin-bottom: var(--margin_description);
}

.price {
    color: #1D2026;
    font-family: 'Kumbh Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 20px;
    margin-bottom: 0px;
}

.discount {
    color: #FF7E1B;
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    border-radius: 6px;
    background: #FFEEE2;
    padding: 5px;
}

.original_price {
    color: #B6BCC8;
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: line-through;
}

.command {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90px;
    width: 100%;
}

.command_quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 100px;
}

.delete {
    display: flex;
    justify-content: center;
}

.quantity {
    color: #1D2026;
    text-align: center;
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add {}

.add_to_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7E1B;
}

.add_to_cart p {
    margin-left: 30px;
    color: #FFF;
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add_to_cart svg {
    margin: 0px;
}

@media screen and (max-width:1120px) {
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        margin-top: 100px;
    }
    .photos {
        width: 300px;
    }
}